<a href="https://colab.research.google.com/github/sumayasultana786/Data-Engineering-Pipeline/blob/main/Pyspark_Joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=1ee48b92eedf4705fba41039ab93bf07713a48f87a22b84b92cc436c5590cc12
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
import pyspark
from pyspark.sql.functions import *

In [4]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName("app").setMaster("local")
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [5]:
employee = spark.read.csv("Emp1.csv", header = True, inferSchema = True)

In [6]:
training = spark.read.csv("Training_Data1.csv", header = True, inferSchema = True)

In [7]:
employee.show(4)

+----------+---------+----------------+-------------+------+----------------+---------+----------+
|EmployeeID|ManagerID|           Title|MaritalStatus|Gender|        HireDate|     Dept| Job Grade|
+----------+---------+----------------+-------------+------+----------------+---------+----------+
|         1|       16|  Gustavo Achong|            M|     M|02-02-2013 00:00|    Sales|     Admin|
|         2|        6|  Catherine Abel|            S|     M|31-08-2013 00:00|    Sales|Management|
|         3|       12| Kim Abercrombie|            M|     M|16-06-2014 00:00|  Finance|     Admin|
|         4|        3|Humberto Acevedo|            S|     M|10-07-2014 00:00|Logistics|     Admin|
+----------+---------+----------------+-------------+------+----------------+---------+----------+
only showing top 4 rows

In [8]:
training.show(4)

+----------+-----------+--------------------+-----------+----+--------------------+
|Start Date|Course Code|         Course Name|Employee ID|Cost|            Supplier|
+----------+-----------+--------------------+-----------+----+--------------------+
|18-09-2015|          1|Communication Wor...|          1|1300|Communication Exp...|
|18-09-2015|          1|Communication Wor...|          4|1300|Communication Exp...|
|18-09-2015|          1|Communication Wor...|         25|1300|Communication Exp...|
|18-09-2015|          1|Communication Wor...|         33|1300|Communication Exp...|
+----------+-----------+--------------------+-----------+----+--------------------+
only showing top 4 rows

In [13]:
emp_training_inner = employee.join(training, employee['EmployeeID'] == training['Employee ID'], "inner")

In [14]:
emp_training_inner.show(3)

+----------+---------+----------------+-------------+------+----------------+----------+----------+----------+-----------+--------------------+-----------+----+--------------------+
|EmployeeID|ManagerID|           Title|MaritalStatus|Gender|        HireDate|      Dept| Job Grade|Start Date|Course Code|         Course Name|Employee ID|Cost|            Supplier|
+----------+---------+----------------+-------------+------+----------------+----------+----------+----------+-----------+--------------------+-----------+----+--------------------+
|         1|       16|  Gustavo Achong|            M|     M|02-02-2013 00:00|     Sales|     Admin|18-09-2015|          1|Communication Wor...|          1|1300|Communication Exp...|
|         4|        3|Humberto Acevedo|            S|     M|10-07-2014 00:00| Logistics|     Admin|18-09-2015|          1|Communication Wor...|          4|1300|Communication Exp...|
|        25|       21|   Phyllis Allen|            S|     M|09-07-2015 00:00|Production|Operations|18-09-2015|          1|Communication Wor...|         25|1300|Communication Exp...|
+----------+---------+----------------+-------------+------+----------------+----------+----------+----------+-----------+--------------------+-----------+----+--------------------+
only showing top 3 rows

In [15]:
print(len(list(employee.columns)))
print(len(list(training.columns)))
print(len(list(emp_training.columns)))

8
6
14

In [12]:
# if column names are same in both datasets, you can write it in easier format as follows
# emp_training_inner = employee.join(training, EmployeeID, inner)

In [16]:
emp_training_left = employee.join(training, employee['EmployeeID'] == training['Employee ID'], "left")

In [17]:
emp_training_left.show(4)

+----------+---------+--------------+-------------+------+----------------+-----+---------+----------+-----------+--------------------+-----------+----+--------------------+
|EmployeeID|ManagerID|         Title|MaritalStatus|Gender|        HireDate| Dept|Job Grade|Start Date|Course Code|         Course Name|Employee ID|Cost|            Supplier|
+----------+---------+--------------+-------------+------+----------------+-----+---------+----------+-----------+--------------------+-----------+----+--------------------+
|         1|       16|Gustavo Achong|            M|     M|02-02-2013 00:00|Sales|    Admin|17-09-2017|          1|Communication Wor...|          1|1300|Communication Exp...|
|         1|       16|Gustavo Achong|            M|     M|02-02-2013 00:00|Sales|    Admin|25-06-2017|         16|   Computer Literacy|          1|1800|   Computer Trainers|
|         1|       16|Gustavo Achong|            M|     M|02-02-2013 00:00|Sales|    Admin|24-12-2018|         16|   Computer Literacy|          1|2200|   Computer Trainers|
|         1|       16|Gustavo Achong|            M|     M|02-02-2013 00:00|Sales|    Admin|17-09-2016|          1|Communication Wor...|          1|1300|Communication Exp...|
+----------+---------+--------------+-------------+------+----------------+-----+---------+----------+-----------+--------------------+-----------+----+--------------------+
only showing top 4 rows

In [18]:
emp_training_right = employee.join(training, employee['EmployeeID'] == training['Employee ID'], "right")

In [20]:
#joins with selected columns
emp_training_selectcols = employee.join(training, employee['EmployeeID'] == training['Employee ID'], "inner").select(employee['Title'], employee['MaritalStatus'])

In [21]:
emp_training_selectcols.show(4)

+----------------+-------------+
|           Title|MaritalStatus|
+----------------+-------------+
|  Gustavo Achong|            M|
|Humberto Acevedo|            S|
|   Phyllis Allen|            S|
|  Maxwell Amland|            S|
+----------------+-------------+
only showing top 4 rows

In [23]:
#joins with filters
employee.join(training, employee['EmployeeID'] == training['Employee ID'], "right").filter(col('Gender') == 'M').show(4)

+----------+---------+----------------+-------------+------+----------------+----------+----------+----------+-----------+--------------------+-----------+----+--------------------+
|EmployeeID|ManagerID|           Title|MaritalStatus|Gender|        HireDate|      Dept| Job Grade|Start Date|Course Code|         Course Name|Employee ID|Cost|            Supplier|
+----------+---------+----------------+-------------+------+----------------+----------+----------+----------+-----------+--------------------+-----------+----+--------------------+
|         1|       16|  Gustavo Achong|            M|     M|02-02-2013 00:00|     Sales|     Admin|18-09-2015|          1|Communication Wor...|          1|1300|Communication Exp...|
|         4|        3|Humberto Acevedo|            S|     M|10-07-2014 00:00| Logistics|     Admin|18-09-2015|          1|Communication Wor...|          4|1300|Communication Exp...|
|        25|       21|   Phyllis Allen|            S|     M|09-07-2015 00:00|Production|Operations|18-09-2015|          1|Communication Wor...|         25|1300|Communication Exp...|
|        33|      135|  Maxwell Amland|            S|     M|13-07-2015 00:00|     Sales|Operations|18-09-2015|          1|Communication Wor...|         33|1300|Communication Exp...|
+----------+---------+----------------+-------------+------+----------------+----------+----------+----------+-----------+--------------------+-----------+----+--------------------+
only showing top 4 rows

In [36]:
employee.join(training, employee['EmployeeID'] == training['Employee ID'], "right").filter((col('Gender') == 'M') & (col('MaritalStatus') == 'S')).show(4)

+----------+---------+----------------+-------------+------+----------------+----------+----------+----------+-----------+--------------------+-----------+----+--------------------+
|EmployeeID|ManagerID|           Title|MaritalStatus|Gender|        HireDate|      Dept| Job Grade|Start Date|Course Code|         Course Name|Employee ID|Cost|            Supplier|
+----------+---------+----------------+-------------+------+----------------+----------+----------+----------+-----------+--------------------+-----------+----+--------------------+
|         4|        3|Humberto Acevedo|            S|     M|10-07-2014 00:00| Logistics|     Admin|18-09-2015|          1|Communication Wor...|          4|1300|Communication Exp...|
|        25|       21|   Phyllis Allen|            S|     M|09-07-2015 00:00|Production|Operations|18-09-2015|          1|Communication Wor...|         25|1300|Communication Exp...|
|        33|      135|  Maxwell Amland|            S|     M|13-07-2015 00:00|     Sales|Operations|18-09-2015|          1|Communication Wor...|         33|1300|Communication Exp...|
|        44|      148|       John Ault|            S|     M|18-07-2015 00:00|     Sales|Operations|18-09-2015|          1|Communication Wor...|         44|1300|Communication Exp...|
+----------+---------+----------------+-------------+------+----------------+----------+----------+----------+-----------+--------------------+-----------+----+--------------------+
only showing top 4 rows

In [37]:
 # join with filters with selected columns
 # title, female employees, which course they took and cost of course
 # title| MaritalStatus| CourseName | Cost

In [42]:
employee.join(training, employee['EmployeeID'] == training['Employee ID'], "inner").filter(col('Gender') == 'F').select("Title" , "MaritalStatus").show(4, False)

+--------------+-------------+
|Title         |MaritalStatus|
+--------------+-------------+
|James Aguilar |S            |
|Amy Alberts   |M            |
|Milton Albury |M            |
|Margaret Smith|S            |
+--------------+-------------+
only showing top 4 rows

In [54]:
rows = [(1, "Sumaya", 3), (2, "Ibrahim", 1), (3, "Rahman", None), (4, "Tabu", 1)]
columns = ["EID", "Name", "MID"]

In [55]:
df = spark.createDataFrame(rows, columns)

In [56]:
type(df)

pyspark.sql.dataframe.DataFrame

In [57]:
df.show(5)

+---+-------+----+
|EID|   Name| MID|
+---+-------+----+
|  1| Sumaya|   3|
|  2|Ibrahim|   1|
|  3| Rahman|NULL|
|  4|   Tabu|   1|
+---+-------+----+

In [60]:
df1 = df.alias("a").join(df.alias("b"), col("a.MID") == col("b.EID"), "left")

In [61]:
df1.show(5)

+---+-------+----+----+------+----+
|EID|   Name| MID| EID|  Name| MID|
+---+-------+----+----+------+----+
|  3| Rahman|NULL|NULL|  NULL|NULL|
|  2|Ibrahim|   1|   1|Sumaya|   3|
|  4|   Tabu|   1|   1|Sumaya|   3|
|  1| Sumaya|   3|   3|Rahman|NULL|
+---+-------+----+----+------+----+

In [63]:
df1 = df.alias("a").join(df.alias("b"), col("a.MID") == col("b.EID"), "left").select("a.Name", col("b.Name").alias("Manager_Name"))

In [64]:
df1.show(5)

+-------+------------+
|   Name|Manager_Name|
+-------+------------+
| Rahman|        NULL|
|Ibrahim|      Sumaya|
|   Tabu|      Sumaya|
| Sumaya|      Rahman|
+-------+------------+